<div class="col-md-6" style="background-color: #F6F6F6;">
  <h2>Account Info</h2>
  <form name="accountForm">
    <div class="form-group">
      <label for="displayName">Username:</label>
      <input type="text" name="displayName" id="displayName" class="form-control" value="{{ user.username }}" readonly  />
    </div>
    <div class="form-group">
      <label for="userTitle">Real Name:</label>
      <input type="text" name="userTitle" id="userTitle" class="form-control" value="{{ user.first_name + ' ' + user.last_name }}" readonly  />
    </div>
    <div class="form-group">
      <label for="userLocation">Email:</label>
      <input type="text" name="userLocation" id="userLocation" class="form-control" value="{{ user.email }}" readonly  />
    </div>
    <div class="form-group">
      <label for="userLocation">Member Since:</label>
      <input type="text" name="userLocation" id="userLocation" class="form-control" value="{{ user.createdAt | date : 'MMM. dd, yyyy' }}" readonly />
    </div>
  </form>
</div>
<div class ="col-md-6" style="background-color: #F6F6F6;">
  <h2>Public Profile</h2>
  <form name="form" ng-submit="update()">
    <div class="form-group">
      <label for="display_name">Display Name:</label>
      <input type="text" name="display_name" id="display_name" class="form-control" ng-model="user.user_display_name" />
    </div>
    <div class="form-group">
      <label for="user_title">Title:</label>
      <input type="text" name="user_title" id="user_title" class="form-control" ng-model="user.user_title" />
    </div>
    <div class="form-group">
      <label for="user_location">Location:</label>
      <input type="text" name="user_location" id="user_location" class="form-control" ng-model="user.user_location" />
    </div>
    <br />
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
    <br />
  </form>
</div>
<br />
<div class ="col-md-12 ng-hide" style="background-color: #F6F6F6;" ng-show="authed"> <!-- Change to ng-show="admin" later once setup -->
<h2>Admin Stuff</h2>
  <p>
    Moderate comments: <a ui-sref="report">Go</a>
  </p>
  <p ng-bind="user.data.success">
    
  </p>
</div>