<div class="row">
  <div class="table-responsive" id="list">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Replies</th>
          <th>Date Posted</th>
        </tr>
      </thead>
        <tbody align="left">
          <tr ng-repeat="list in thread.threads">
            <td width="40%"><a ui-sref="thread({ slug: list.slug })">{{ list.title }}</a></td>
            <td ng-bind="user.first_name"></td>
            <td ng-bind="list.replyCount"></td>
            <td ng-bind="list.createdAt | date:'MM/dd/yyyy @ h:mm a'"></td>
          </tr>
        </tbody>
    </table>
  </div>
  <div class="col-md-12">
    <p>
      Board Summary
    </p>
    <p>
      Stat 1 | Stat 2 | Stat 3
    </p>
  </div>
</div>