<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base href="/">

  <title>Message Board</title>

  <!-- CSS -->
  <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="css/style.css"> --><!-- custom styles -->

  <!-- JS -->
  <script src="libs/moment/min/moment.min.js"></script>
  <script src="libs/angular/angular.min.js"></script>
  <script src="libs/angular-jwt/dist/angular-jwt.min.js"></script>
  <script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>

  <!-- ANGULAR CUSTOM -->
  <script src="js/app.js"></script>
  <script src="js/controllers/controller.js"></script>
  <script src="js/services/service.js"></script>
  <style>
    .even {
      background-color: #e8e8e8;
    }
  </style>
</head>
<body ng-app="app">
  
  <!-- HEADER -->
  <nav class="navbar navbar-inverse container-fluid" ng-controller="navController">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">Home</a>
    </div>

    <!-- LINK TO OUR PAGES. ANGULAR HANDLES THE ROUTING HERE -->
    <ul class="nav navbar-nav">
      <li><a ui-sref="board">Board</a></li>
      <li><a ng-show="authed" class="ng-hide" ui-sref="account">Account</a></li>
      <li><a ng-show="authed" class="ng-hide" ui-sref="members">Members</a></li>
      <li><a ng-hide="authed" ui-sref="signup">Sign Up</a></li>
      <li><a ng-hide="authed" ui-sref="login">Log In</a></li>
      <li><a ng-show="admin" class="ng-hide" ui-sref="admin">Admin</a></li>
      <li><a ng-show="authed" class="ng-hide" ng-click="logout()">Log Out</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li><a ui-sref="newthread" ng-show="authed">New Thread</a></li>
    </ul>
  </nav>

  <!-- ANGULAR DYNAMIC CONTENT -->
  <div class="container" style="width: 60%;" ui-view></div>
  
</body>
</html>