<div class="jumbotron text-center">
  <div class="md-col-12" style="text-align: right;">
    <input type="text" name="user_search" size="30">
    <button type="submit" class="btn btn-secondary btn-sm">Search</button>
  </div>
  <br />
  <div class="table-responsive" id="list">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Email</th>
          <th>Name</th>
          <th>Username</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th>Display Name</th>
          <th>Title</th>
          <th>Location</th>
          <th>Admin</th>
        </tr>
      </thead>
      <tbody align="left">
        <tr ng-repeat="user in list">
          <td ng-bind="user.id"></td>
          <td ng-bind="user.email"></td>
          <td ng-bind="user.first_name + ' '+ user.last_name"></td>
          <td ng-bind="user.username"></td>
          <td ng-bind="user.createdAt | date:'MM/dd/yyyy @ h:mm a'"></td>
          <td ng-bind="user.updatedAt | date:'MM/dd/yyyy @ h:mm a'"></td>
          <td ng-bind="user.user_display_name"></td>
          <td ng-bind="user.user_title"></td>
          <td ng-bind="user.user_location"></td>
          <td ng-bind="user.is_admin"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>