<div>
  <h2>Submit New Thread</h2>
  <form name="form" ng-submit="submit()">
    <div class="form-group" ng-class="{ 'has-error': form.thread_title.$dirty && form.thread_title.$error.required }">
      <label for="thread_title">Post Title</label>
      <input type="text" size="30" name="thread_title" id="thread_title" class="form-control" ng-model="thread_title" required />
      <span ng-show="form.thread_title.$dirty && form.thread_title.$error.required" class="help-block">Post Title is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.thread_body.$dirty && form.thread_body.$error.required }">
      <label for="thread_body">Post Body</label>
      <textarea rows="5" cols="10" name="thread_body" id="thread_body" class="form-control" ng-model="thread_body" required /></textarea>
    </div>
    <div class="form-actions">
      <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Submit Thread</button>
    </div>
  </form>
</div>