<div class="col-md-6 col-md-offset-3" ng-controller="signupController">
    <h2>Create Account</h2>
    <form name="signupForm" role="form" ng-submit="register()">
        <div class="form-group" ng-class="{ 'has-error': form.first_name.$dirty && form.first_name.$error.required }">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" class="form-control" ng-model="first_name" required />
            <span ng-show="form.first_name.$dirty && form.first_name.$error.required" class="help-block">First Name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.last_name.$dirty && form.last_name.$error.required }">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" class="form-control" ng-model="last_name" required />
            <span ng-show="form.last_name.$dirty && form.last_name.$error.required" class="help-block">Last Name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control" ng-model="email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.confPass.$dirty && form.confPass.$error.required }">
            <label for="confPass">Confirm Password</label>
            <input type="password" name="confPass" id="confPass" class="form-control" ng-model="confPass" required />
            <span ng-show="form.confPass.$dirty && form.confPass.$error.required" class="help-block">Confirmation Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>