<div class="row" style="margin: 20px; padding: 20px; border: 1px black solid;">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="text-center" style="margin: 5px;">{{ thread.title }}</h4>
  </div>
</div>

<div class="row" style="height: 100px; margin: 20px; padding: 20px; border: 1px black solid;">
  <div class="col-md-2 col-md-offset-2">
    <!-- Need to pull profile slug from somewhere -->
    <ui sref="profile( slug: slug )">{{ thread.user.username }}</a> <br />
  </div>
  <div class="col-md-8" style="height: 100%;">
    {{ thread.body }}
    <br />
    <p style="font-size: 8pt; position: absolute; bottom: 0px; right: 0px;">
      Created at: {{ thread.createdAt | date: 'medium' }}
    </p>
  </div>
</div>

<div class="row" style="height: 100px; margin: 20px; padding: 20px; border: 1px black solid;" ng-repeat="replies in thread.replies" ng-class-even="'even'">
  <div class="col-md-2 col-md-offset-2">
    {{ replies.author }}
  </div>
  <div class="col-md-8" style="height: 100%;">
    {{ replies.body }}
    <br />
    <p style="font-size: 8pt; position: absolute; bottom: 0px; right: 0px;">
      "Replied on" date
    </p>
  </div>
</div>
  
<div class="row" style="margin: 20px; padding: 20px; border: 1px black solid;">
  <div class="col-md-8 col-md-offset-2">
    <p ng-hide="authed">
      Please <a ui-sref="login">Log In</a> to comment.
    </p>
    <!-- Need to insert comments that exist for this post already -->
    <form name="form" ng-submit="submit()" ng-show="authed" class="ng-hide">
      <div class="form-group" ng-class="{ 'has-error': form.reply_body.$dirty && form.reply_body.$error.required }">
        <br />
        <label for="reply_body">Post Body:</label>
        <textarea name="reply_body" cols="30" rows="10" id="reply_body" class="form-control" ng-model="reply_body"></textarea>
      </div>
      <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Submit</button>
      </div>
    </form>  
  </div>
</div>